
.main-container {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
}

.algorithm-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    
}

.algorithm-label {
    color: whitesmoke;
    font-weight: normal;
    font-size: 32px;
}

.create-button {
    border: none;
    border-radius: 10px;
    width: 48px;
    height: 48px;
    font-size: 42px;
    font-weight: bolder;
    padding: 0;
    text-align: center;    
}

.create-button:hover {
    background-color: rgb(86, 219, 121);
    color: white;
}

.button-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    line-height: 0px;
    margin-left: auto;
}